events {
    worker_connections 1024;
}

http {
    server {
        listen ${PORT};
        listen [::]:${PORT};
        root /app/build;
        index index.html;
        location / {
            try_files $uri $uri/ /index.html =404;
        }
    }
}