.SiteHeader {
  border: none !important;

  .SearchBox.ui.input {
    color: var(--text-on-dark);

    input {
      background: var(--bg-input);
      color: var(--text-on-dark);
      border: 0;

      &::selection {
        color: var(--text-on-dark);
      }
    }
  }

  .toggle-button {
    display: none;
  }

  .toggleable {
    display: flex;
    flex: 1;
  }

  .madgrades-logo {
    a {
      font-size: 18px;
    }
  }

  .menu .item.active {
    border-color: var(--accent-red) !important;
  }
}

@media only screen and (max-width: 767px) {
  .SiteHeader {
    .madgrades-logo {
      text-align: center;
      justify-content: space-between;
      align-items: flex-start;
    }

    .toggle-button {
      display: block;
      width: 40px;
    }

    .menu .item.active {
      border-color: transparent !important;
    }

    .toggleable {
      display: none;
    }

    .toggled {
      display: block;
    }
  }
}
