name: Build and Publish
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lint-and-typecheck:
    name: Lint and Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run type-check
        run: npm run type-check
      - name: Run lint
        run: npm run lint
  build-and-push-docker-image:
    name: Build Docker image and publish
    runs-on: ubuntu-latest
    needs: lint-and-typecheck
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.PUBLISHING_GITHUB_USERNAME }}
          password: ${{ secrets.PUBLISHING_GITHUB_TOKEN }}
      - name: Build image and push
        uses: docker/build-push-action@v2
        with:
          context: ./
          tags: |
            ghcr.io/madgrades/madgrades.com:latest
          push: ${{ github.ref == 'refs/heads/main' }}